/*
common
*/
.tabWrap_top {width: 100%; height: 13.89vw; border-bottom: 0.56vw solid #ddd; background: #fff;}
.tabWrap_top.scroll {position: fixed; top: 16.67vw; left: 0; box-shadow: 0 0.56vw 1.39vw -0.56vw rgba(0, 0, 0, 0.05); z-index: 5;}
.tabWrap_top .tabList {display: flex; align-items: center; padding: 0 5.56vw; text-align: center;}
.tabWrap_top .tabList li {position: relative; height: 13.89vw; flex: 1;}
.tabWrap_top .tabList li a {display: block; padding: 4.72vw 0; font-size: 3.89vw; font-weight: 300; color: #999; white-space: nowrap;}
.tabWrap_top .tabList li.active::after {content: ''; position: absolute; bottom: 0; display: block; width: 100%; height: 0.56vw; background: #41b6e5; z-index: 2;}
.tabWrap_top .tabList li.active a {font-weight: 700; color: #41b6e5;}

.thumbImg {position: relative;}
.thumbImg .tag {position: absolute; top: 0; left: 0; display: inline-block; padding: 1.39vw 2.78vw; font-size: 2.78vw; font-weight: 700; color: #fff; text-align: center; text-transform: uppercase; letter-spacing: 0.07vw; border-radius: 6.94vw; z-index: 1;}
.thumbImg .tag.best {background: #41b6e5;}
.thumbImg .tag.new {background: #ea4c31;}
.thumbImg .tag.discount {background: #ea4c31;}

.productList li a {position: relative; display: flex; padding: 8.33vw 0;}
.productList .thumbImg {width: 36%;}
.productList .thumbImg .imgWrap {position: relative; overflow: hidden; width: 100%; padding-top: 100%;}
.productList .thumbTxt {margin-left: 6%; width: 58%;}
.productList .thumbTxt dt {overflow: hidden; display: -webkit-box; max-height: 17.22vw; font-size: 6.67vw; font-weight: 200; line-height: 1.3; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.productList .thumbTxt dd.detailPrice {margin-top: 4.17vw;}
.productList .thumbTxt dd.detailPrice .txtWrap {display: flex; align-items: center; }
.productList .thumbTxt dd.detailPrice > .txtWrap + .txtWrap {margin-top: 2.78vw;}
.productList .thumbTxt dd.detailPrice .txtWrap .size {position: relative; display: inline-flex; justify-content: center; align-items: center; margin-right: 2.78vw; width: 6.67vw; height: 6.67vw; font-size: 2.78vw; font-weight: 700; color: #41b6e5; z-index: 3;}
.productList .thumbTxt dd.detailPrice .txtWrap .size::before {content: ''; position: absolute; display: inline-block; width: 100%; height: 100%; border-radius: 50%; background: #e1f0f8; z-index: -1;}
.productList .thumbTxt dd.detailPrice .txtWrap .sale_price {font-size: 4.44vw; font-weight: 500;}
.productList .thumbTxt dd.detailPrice .txtWrap .origin_price {margin-left: 2.78vw; }
.productList .thumbTxt dd.detailTxt {margin-top: 4.17vw;}
.productList .thumbTxt dd.detailTxt span {display: inline-block; font-size: 3.33vw; font-weight: 400;}
.productList .thumbTxt dd.detailTxt .info {font-size: 3.33vw; font-weight: 500; color: #666;}

.search {display: flex; align-items: center; margin-bottom: 8.33vw; padding: 0 2.78vw; height: 13.89vw; border-bottom: 0.42vw solid #bbb;}
.search .input_search {width: 90%; font-size: 3.33vw; }
.search .input_search::placeholder {color: #bbb;}
.search .btn_search {margin-left: auto; width: 5.00vw; height: 5.00vw;}

.btn {display: flex; justify-content: center; align-items: center; width: 100%; height: 13.89vw; border-radius: 6.94vw;}
.btn span {font-size: 3.89vw; font-weight: 500;}
.btn.small {height: 11.11vw; border-radius: 6.17vw;}
.btn.small span {font-size: 3.33vw; font-weight: 500;}
.btn.fill {background: #41b6e5; color: #fff;}

.tabMenu {overflow: hidden; display: flex; margin: 0 auto; width: 100%; height: 13.89vw; background: #f8f8f8; border-radius: 6.94vw;}
.tabMenu li {display: flex; justify-content: center; align-items: center; flex: 1;}
.tabMenu li a {display: block; width: 100%; font-size: 4.44vw; color: #999; text-align: center; line-height: 13.89vw;}
.tabMenu li.active {border-radius: 6.94vw; background: #41b6e5;}
.tabMenu li.active a {color: #fff;}

.origin_price {position: relative; display: inline-block; padding: 0 0.42vw; font-size: 3.33vw; font-weight: 400; color: #bbb;}
.origin_price::after {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 100%; height: 0.28vw; background: #bbb;}

/* header */
header {position: absolute; top: 0; left: 0; width: 100%; height: 16.67vw; background: #fff; z-index: 5;}
header.scroll {position: fixed; top: 0; left: 0; box-shadow: 0 0.56vw 1.39vw rgba(0, 0, 0, 0.05);}

header .navBar {display: flex; align-items: center;}
header .navBar h1 {display: flex; justify-content: center; align-items: center; margin-right: auto; width: 16.67vw; height: 16.67vw;}
header .navBar h1 a { width: 8.33vw; height: 8.33vw;}
header .navBar h1 a img {width: 100%;}
header .navBar .utill {display: flex; justify-content: center; align-items: center; width: 16.67vw; height: 16.67vw;}
header .navBar .utill img {width: 6.67vw; height: 6.67vw;}
header .navBar .utill.menuBtn {margin-right: auto;}
header .navBar .utill.carBtn {margin-left: auto;}
header .navBar .utill.backBtn img {width: 3.61vw; height: 6.11vw;}

header .txtBtn a {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; padding: 2.78vw 0;}
header .txtBtn p {display: inline-block; margin-right: 1.39vw;}
header .txtBtn img {margin-top: 1.39vw; width: 2.78vw;}

header .txtTit {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
header .txtTit h2 {font-size: 5.56vw;}

/* footer bottom_menu */
footer {position: absolute; left: 0; bottom: 0; width: 100%; z-index: 10;}
.bottomMenu {display: flex; width: 100%; height: 16.67vw; background: #fff; box-shadow: 0 0.56vw 1.39vw rgba(0, 0, 0, 0.3);}
.bottomMenu li {display: flex; justify-content: center; flex: 1;}
.bottomMenu li a {position: relative; display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center; align-items: center;}
.bottomMenu li img {width: 6.67vw; height: 6.67vw;}
.bottomMenu li p {margin-top: 1.39vw; text-align: center; font-size: 3.33vw; color: #999;}

/*
main container
*/

/* event_banner */
.event_banner {overflow: hidden; display: flex; align-items: center; margin: 0 auto; padding: 0 8.33vw; width: 100%; height: 13.89vw; background: #41b6e5; border-radius: 8.33vw;}
.event_banner p {width: 80%; color: #fff; white-space: nowrap;}
.event_banner span {font-weight: 700;}
.event_banner .btn_close {display: flex; justify-content: center; align-items: center; margin-left: auto; width: 16.67vw; height: 16.67vw;}
.event_banner .btn_close::after {content: ''; display: block; width: 5.00vw; height: 5.00vw; background: url('../img/common/ico_close_w.png') no-repeat center / contain;}

/* mainOrder */
.mainOrder {margin-top: 13.89vw;}

.mainOrder .title {padding: 0 13.89vw;}
.mainOrder .title h2 {font-weight: 100; line-height: 1.3;}

.mainOrder .orderBtn {display: flex; justify-content: center; align-items: center; margin: 8.33vw auto; width: 88.89vw; height: 88.89vw; border-radius: 50%; background: #f8f8f8;}
.mainOrder .orderBtn .btnWrap {display: flex; justify-content: center; align-items: center; width: 70%; height: 70%; background: #fff; border-radius: 50%; box-shadow: 0 0 2.78vw rgba(0, 0, 0, 0.1); font-size: 0;}
.mainOrder .orderBtn .btnWrap a {display: inline-block; font-size: 3.89vw;}
.mainOrder .orderBtn .btnWrap a:before {content: ''; display: block; margin: 0 auto 2.78vw; width: 6.67vw; height: 6.67vw; background: url('../img/common/ico_plus.png') no-repeat center / cover;}

.mainOrder .tabMenu { margin: 0 auto; width: 80%; }

/* banner */
.mainbanner {margin-top: 13.89vw;}
.mainbanner li .txtWrap {position: absolute; top: 50%; left: 8.33vw; transform: translateY(-50%); width: 50%; z-index: 2;}
.mainbanner li .txtWrap p {overflow: hidden; margin-bottom: 1.39vw; max-height: 11.67vw; opacity: 0.5; line-height: 1.5;}
.mainbanner li .txtWrap h3 {overflow: hidden; max-height: 18.61vw; font-weight: 500; line-height: 1.3;}

.mainbanner li .imgWrap {position: relative; overflow: hidden; width: 100%; height: 52.78vw; border-radius: 4.17vw;}
.mainbanner li .imgWrap img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%;}

/* .swiper-pagination */
.swiper-pagination-bullet {width: 1.67vw; height:1.67vw;}
.swiper-pagination-bullet-active {width: 5.56vw; height: 1.67vw; border-radius: 1.67vw; background: #41b6e5;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 0.83vw;}
.swiper-container-horizontal>.swiper-pagination-bullets {bottom: 2.78vw;}


/*
main container
*/

.container > section.menu_pizza {margin-bottom: 0;}

/* menu_pizza */
.menu_pizza .productList > li::after {content: ''; display: block; width: 100%; height: 0.28vw; background: #eee; opacity: 0.5;}
.menu_pizza .productList > li:last-child::after {display: none;}
.menu_pizza .productList .thumbImg .imgWrap img {position: absolute; top: 0; left: 0; margin-top: 5.56vw; width: 100%;}
.menu_pizza .productList .thumbTxt dd.detailTxt span::after {content: ''; display: inline-block; margin: 0 2.78vw; width: 0.28vw; height: 2.50vw; background: #bbb;}
.menu_pizza .productList .thumbTxt dd.detailTxt span:last-child::after {display: none;}

/* menu_set */
.menu_set .productList {padding-top: 8.33vw;}
.menu_set .productList li + li {margin-top: 5.56vw;}
.menu_set .productList li a {overflow: hidden; padding: 0; background: #f8f8f8; border-radius: 4.17vw; }
.menu_set .productList .thumbImg .imgWrap {padding-top: 140%;}
.menu_set .productList .thumbImg .imgWrap img {position: absolute; bottom: 0; width: 100%;}
.menu_set .productList .thumbImg .tag.best {top: 2.78vw; left: 2.78vw;}

.menu_set .productList .thumbTxt {display: flex; flex-direction: column; justify-content: center;}
.menu_set .productList .thumbTxt dd.detailPrice .txtWrap {flex: 1;}
.menu_set .productList .thumbTxt dd.detailPrice .txtWrap .size {color: #fff;}
.menu_set .productList .thumbTxt dd.detailPrice .txtWrap .size::before {background: #41b6e5;}

.menu_set .productList .thumbTxt dd.detailTxt {margin-top: 1.67vw;}
.menu_set .productList .thumbTxt dd.detailTxt .info {vertical-align: middle;}
.menu_set .productList .thumbTxt dd.detailTxt .info span {position: relative; overflow: hidden; margin-top: -0.42vw; width: 2.78vw; height: 2.78vw; background: #ddd; border-radius: 50%; vertical-align: middle;}
.menu_set .productList .thumbTxt dd.detailTxt .info span::before {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 50%; height: 0.28vw; background: #fff; border-radius: 0.28vw;}
.menu_set .productList .thumbTxt dd.detailTxt .info span::after {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 0.28vw; height: 50%; background: #fff; border-radius: 0.28vw;}

/* menu_side */
.menu_side .sideList {display: flex; flex-wrap: wrap;}
.menu_side .sideList li {flex: 0 1 45%; margin-top: 11.11vw;}
.menu_side .sideList li:nth-child(2n) {margin-left: 10%;}
.menu_side .sideList .thumbImg {width: 100%;}
.menu_side .sideList .thumbImg .tag {left: auto; right: 2.78vw;}
.menu_side .sideList .thumbImg .imgWrap {position: relative; width: 100%; padding-top: 100%; }
.menu_side .sideList .thumbImg .imgWrap img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%;}
.menu_side .sideList .thumbTxt {display: flex; flex-wrap: wrap; justify-content: center; text-align: center;}
.menu_side .sideList .thumbTxt p {margin-bottom: 4.17vw; width: 100%;}
.menu_side .sideList .thumbTxt span {font-size: 3.33vw; font-weight: 700;}
.menu_side .sideList .thumbTxt span.origin_price { margin: 0.42vw 1.39vw 0 0; font-size: 3.33vw; font-weight: 400; }

.menu_side .sideList .select.count .btn_orderCount {margin-top: 5.56vw;}

/* pizzaDetail */
.pizzaDetail {padding-top: 6.94vw;}
.pizzaDetail .title {margin-bottom: 5.56vw;}
.pizzaDetail .title h3 {font-weight: 100;}
.pizzaDetail .title p {margin-top: 2.78vw; font-size: 3.33vw; font-weight: 500;}

.pizzaDetail .product {position: relative; margin: 0 auto; width: 83.33vw; height: 83.33vw; background: #f8f8f8; border-radius: 50%;}
.pizzaDetail .product li {position: absolute; top: 50%; left: 50%; display: none; width: 90%; height: 90%; transform: translate(-50%, -50%);}
.pizzaDetail .product li:first-child {display: block;}
.pizzaDetail .product li img {width: 100%;}

.select h4 {margin-bottom: 4.17vw; font-size: 5.00vw; font-weight: 700;}
.select.size .sizeBox {display: flex; align-items: center; padding: 0 8.33vw; width: 100%; height: 13.89vw; background: #f8f8f8; border-radius: 1.39vw; color: #222;}
.select.size .sizeBox + .sizeBox {margin-top: 1.67vw;}
.select.size .sizeBox .price {margin-left: auto;}
.select.size .sizeBox .price .sale {margin-right: 2.78vw; font-size: 3.89vw; font-weight: 500;}
.select.size .sizeBox .price .origin {position: relative; padding: 0 0.42vw; font-size: 3.33vw; font-weight: 300; color: #bbb;}
.select.size .sizeBox .price .origin::after {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 100%; height: 0.14vw; background: #bbb; }
.select.size .sizeBox.active {background: #41b6e5; color: #fff}
.select.size .sizeBox.active .price .origin {color: rgba(255, 255, 255, 0.7);}
.select.size .sizeBox.active .price .origin::after {background:rgba(255, 255, 255, 0.7)}

.select.edge .edgeList {display: flex;}
.select.edge .edgeList li {flex: 1;}
.select.edge .edgeList li .imgWrap {margin: 0 auto; width: 20.83vw; height: 20.83vw;}
.select.edge .edgeList li .imgWrap img {width: 100%;}
.select.edge .edgeList li p {margin-top: 1.39vw; text-align: center;}
.select.edge .edgeList li span {display: block; margin-top: 0.69vw;}
.select.edge .edgeList li.active .imgWrap {width: 25.00vw; height: 25.00vw; transition: 0.5s;}
.select.edge .edgeList li.active p {font-weight: 700;}

.select.topping {margin-left: 8.33vw;}
.select.topping .toppingList {overflow-x: scroll; display: flex; flex-wrap: nowrap; text-align: center; }
.select.topping .toppingList li {margin-bottom: 2.78vw; flex: 1 0 28%;}
.select.topping .toppingList li .imgWrap {margin: 0 auto; width: 13.89vw; height: 13.89vw;}
.select.topping .toppingList li .imgWrap img {width: 100%;}
.select.topping .toppingList li .txtWrap p {margin: 2.78vw 0 1.39vw; font-size: 3.33vw; font-weight: 300;}
.select.topping .toppingList li .txtWrap .price {font-size: 3.89vw; font-weight: 700;}
.select.topping .toppingList li .check {display: flex; justify-content: center; align-items: center; margin: 2.78vw auto 0; width: 5.56vw; height: 5.56vw; background: #ddd; border-radius: 50%; transition: 0.2s;}
.select.topping .toppingList li .check::after {content: ''; display: block; width: 3.33vw; height: 3.33vw; background: url('../img/common/ico_check.png') no-repeat center/ cover;}
.select.topping .toppingList li.active .check {background: #41b6e5;}

.select.count .btn_orderCount {display: flex; align-items: center; padding: 0 5.56vw; width: 100%; height: 13.89vw; border: 0.28vw solid #bbb; border-radius: 6.94vw;}
.select.count .btn_orderCount button {display: flex; justify-content: center; align-items: center; width: 11.11vw; height: 13.89vw; }
.select.count .btn_orderCount button::after {content: ''; display: block; width: 4.17vw; height: 4.17vw; background-repeat: no-repeat; background-position: center; background-size: cover;}
.select.count .btn_orderCount button.minus::after {background-image: url('../img/common/ico_minus1.png');}
.select.count .btn_orderCount button.plus::after {background-image: url('../img/common/ico_plus1.png');}
.select.count .btn_orderCount .count {margin: 0 auto; font-size: 3.89vw;}
.select.count .guide {margin-top: 2.78vw;}

/* pickup */
.result {padding-top: 8.33vw;}
.result .totalResult {font-size: 3.33vw; font-weight: 500;}

.result.nearbyStore .storeList {margin: 5.56vw 0;}
.result.nearbyStore .storeList li + li {margin-top: 4.17vw;} 
.result.nearbyStore .storeList dl {padding: 5.56vw; border-radius: 4.17vw; box-shadow: 0 0 0.83vw rgba(0, 0, 0, 0.15); }
.result.nearbyStore .storeList dt {margin-bottom: 4.17vw; font-size: 3.33vw; font-weight: 500;}
.result.nearbyStore .storeList dt .distance {display: inline-block; margin-right: 2.78vw; font-weight: 700;}
.result.nearbyStore .storeList dd {font-size: 3.33vw; font-weight: 300; color: #666; line-height: 1.6;}

/* address_setting */
.address_setting .current::before {content: ''; display: inline-block; margin-right: 1.67vw; width: 5.00vw; height: 5.00vw; background: url('../img/common/ico_location1_w.png') no-repeat center/ cover;}
.address_setting .current span {margin-top: 0.28vw;} 

/* cart */
.loginWrap {display: flex; justify-content: center; align-items: center; height: 66.67vw; background: #41b6e5; text-align: center;}
.loginWrap .loginInner {width: 83.33vw;}
.loginWrap h3 {font-weight: 100; color: #001951; line-height: 1.3;}
.loginWrap h3 span {font-weight: 500;}
.loginWrap .btnWrap {display: flex; margin-top: 5.56vw;}
.loginWrap .btnWrap .btn {display: flex; flex: 0 1 47%; justify-content: center; align-items: center; background: #fff;}
.loginWrap .btnWrap .btn + .btn {margin-left: 6%;}
.loginWrap .btnWrap .btn span {color: #001951;}

.cart {padding-top: 11.11vw; min-height: 108.33vw;}
.cart .tabMenu {border-radius: 2.17vw;}
.cart .tabMenu li a {color: #bbb;}
.cart .tabMenu li.active {background: #fff; border: 0.28vw solid #41b6e5; border-radius: 2.17vw 0 0 2.17vw; }
.cart .tabMenu li.active a {font-weight: 500; color: #41b6e5;}

.cartList li {position: relative; display: flex; flex-wrap: wrap; margin-top: 5.56vw; padding: 5.56vw; border-radius: 4.17vw; box-shadow: 0 0 0.56vw rgba(0, 0, 0, 0.15); }
.cartList .imgWrap {position: relative; overflow: hidden; flex-basis: 15%; margin-top: -1.39vw; height: 11.67vw;}
.cartList .imgWrap img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.cartList .txtWrap {flex-basis: 82%; margin-left: 3%;}
.cartList .txtWrap p {margin-bottom: 2.78vw; padding: 1.39vw 0; font-size: 4.44vw; font-weight: 500;}
.cartList .txtWrap .infoTxt {display: flex; font-size: 3.33vw;}
.cartList .txtWrap .infoTxt dt {flex-basis: 20%; margin-right: 2.78vw; color: #666; line-height: 1.5;}
.cartList .txtWrap .infoTxt dd {flex-basis: 60%; line-height: 1.5;}
.cartList .txtWrap .infoTxt + .infoTxt {margin-top: 0.69vw;}

.cartList button.delete {position: absolute; top: 5.56vw; right: 5.56vw; display: flex; justify-content: center; align-items: center; width: 6.67vw; height: 6.67vw; }
.cartList button.delete::after {content: ''; display: block; width: 4.44vw; height: 4.44vw; background: url('../img/common/ico_del.png') no-repeat center /contain; }

.cartList .priceWrap {margin: 5.56vw 0 0 auto;}
.cartList .priceWrap span {font-size: 3.33vw;}
.cartList .priceWrap .sale_percent {margin: 0 1.67vw 0;}
.cartList .priceWrap .price {font-size: 3.33vw; font-weight: 500;}

.cartList_empty {display: none; padding-top: 11.11vw;}
.cartList_empty p {margin-bottom: 8.33vw; font-size: 3.33vw; font-weight: 300; color: #999; text-align: center;}
.cartList_empty p::before {content: ''; margin: 2.78vw auto 5.56vw; display: block; width: 66.53vw; height: 32.36vw; background: url('../img/common/ico_empty_cart.png') no-repeat center / cover;}
.cartList_empty .btn a {display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;}

/* event */
.eventList {margin: 8.33vw 0;}
.eventList li {width: 100%; height: 34.39vw; overflow: hidden; border-radius: 2.78vw;}
.eventList li a {display: block; width: 100%; height: 100%;}
.eventList li + li {margin-top: 4.17vw;}
.eventList li img {width: 100%;}

/* event_02 */
.partnersaleList {margin: 11.11vw 0;}
.partnersaleList li {position: relative; width: 100%; padding: 10.33vw; border-radius: 2.78vw; box-shadow: 0 0.56vw 1.39vw rgba(0, 0, 0, 0.1);}
.partnersaleList li + li {margin-top: 5.56vw;}

.partnersaleList li > .tag.percent {position: absolute; top: 0; left: 0; display: flex; justify-content: center; align-items: center; width: 8.89vw; height: 8.89vw; font-size: 2.78vw; font-weight: 500; color: #fff; background: #41b6e5; border-radius: 0 50% 50% 50%;}

.partnersaleList .detail .txtWrap {margin-top: 6.94vw;}
.partnersaleList .detail .txtWrap dt {margin-bottom: 4.17vw; padding-right: 8.33vw;}
.partnersaleList .detail .txtWrap dt > span {font-size: 4.44vw; font-weight: 700;}
.partnersaleList .detail .txtWrap dd {font-size: 3.33vw; font-weight: 200; color: #666; line-height: 1.3;}
.partnersaleList .detail .txtWrap dd > span {display: inline-block; margin-left: 1.39vw; font-weight: 500; color: #222;}
.partnersaleList .detail .txtWrap dd + dd {margin-top: 1.39vw;}

.partnersaleList .detail .imgWrap {margin: 0 auto; width: 80%;}
.partnersaleList .detail .imgWrap img {width: 100%;}








